/* Montserrat Alternates shirft turi */
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
	font-family: 'Montserrat Alternates', sans-serif;
}
.auth-body {
	background: linear-gradient(135deg, #4f46e5, #9333ea);
	font-family: 'Segoe UI', sans-serif;
	background-image: url('/imags/login_bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	overflow-y: hidden;
}

.auth-card {
	background: #ffffff86;
	padding: 40px;
	width: 100%;
	max-width: 400px;
	border-radius: 16px;
	box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

.auth-card h2 {
	color: #4f46e5;
	font-weight: bold;
}

.form-control {
	border-radius: 10px;
	padding: 12px;
}

.hero-title {
	font-size: 2rem;
	font-weight: 800;
	line-height: 1;
	background: linear-gradient(100deg, #4f46e5, #9333ea);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 40px 20px -100px 20px;
}

/* RWD */
@media (max-width: 768px) {
	.hero-title {
		font-size: 1.9rem;
		background: linear-gradient(100deg, #ffffff, #e4d5f1);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		margin: 40px 20px -90px 20px;
	}
}

@media (max-width: 768px) {
	.auth-body {
		background-image: none;
		background: linear-gradient(135deg, #4f46e5, #9333ea);
	}

	.auth-card {
		background-color: #fff;
	}
}
